<div class="container-fluid">

  <!-- Header Row -->	
  <div class="row header-row">
		<div class="col-sm-6 col-sm-offset-4" style="padding-right: 0px;padding-left: 0px">
			
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group btn-lg" role="group" aria-label="First group">
          <button type="button" class="btn btn-default">About us</button>
          <button type="button" class="btn btn-default">FAQ</button>
          <button type="button" class="btn btn-default">Contact us</button>
          <button type="button" class="btn btn-default" routerLink="/vetRegistration">Registration</button>
        </div>
      </div>

		</div>
		<div class="col-sm-2">
        <div class="btn-group btn-lg" role="group" aria-label="Third group">
          <button type="button" class="btn btn-warning" routerLink="/login">Sign-in</button>
        </div>
		</div>
	</div>

  <!-- big 1st time info -->
	<div class="row first-info">
		<div class="col-md-6 col-md-offset-1 left-text">
			<h1> Pet Seva </h1>
      <div class="left-text">
           <h4>Find a new home for few days for your pet when you are on vacations. </h4>
          <h4>Get instant Vet to keep your pet healthy and happy.</h4>
          <h4>Manage vaccinations for your pet so no dates are missed.</h4>
      </div>
		</div>
	
  	<div class="row">
			
		</div>
	</div>

  <!-- start button in middle -->
  <div class="row">
			<div class="col-sm-2 col-sm-offset-5 button-box">
				<button class="btn btn-warning get-start-btn btn-lg" routerLink="/vetRegistration">Get Started</button>
			</div>	
	</div>

  <!-- 3 column details -->
	<div class="row">
		<div class="col-md-12">
      <div class="container gutter">
        <div class="row user-info-row">
           <div class="col-md-4 user-info-col">
                <div class="user-info-box">
                  <h4>Pet Seva for Pet Owner</h4>
                  <p>Pet Seva is to give various options available for their pet, just like homely feeling.</p>
                </div>
           </div>
           <div class="col-md-4 user-info-col">
             <div class="user-info-box">
                  <h4>Pet Seva for Vet</h4>
                  <p>Pet Seva is provides expets Vet for varios categories, instantly available after booking.</p>
              </div>
           </div>
           <div class="col-md-4 user-info-col">
               <div class="user-info-box">
                  <h4>Pet Seva for Pet Care</h4>
                  <p>Manages the veccination and other vital medical things for your pet.</p>
              </div>
           </div>
        </div>

      </div>
		
    </div>
	</div>


  <!-- footer -->
	<div class="row trans-dark-color">
		<div class="col-sm-5 col-sm-offset-4">
			 <div class="center-text dark-font">
         Copy-Rights 2018-20
       </div>
       <div class="center-text dark-font">
         XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
         XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
         XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
       </div>
		</div>
	</div>

</div>